{% extends "challenge.html" %}

{% block description %}
{{ challenge.html|safe }}
<hr class="my-1">
<link rel="stylesheet"  href="{{ url_for('plugins.docker_challenges.assets', path='warning_modal.css') }}">
<div class="mb-3 text-center " id='docker_container'>
    <a href="#" class="btn btn-dark btn-docker-start" data-image="{{ challenge.docker_image }}">
        <small><i class="fas fa-play"></i> Start Docker Instance for Challenge</small>
      </a>
</div>
{% endblock %}

{% block input %}
<input
  id="challenge-id"
  class="challenge-id"
  type="hidden"
  value="{{ challenge.id }}"
>
<input
  id="challenge-input"
  class="challenge-input form-control"
  type="text"
  name="submission"
  placeholder="Flag"
>
{% endblock %}

{% block submit %}
<button
  id="challenge-submit"
  class="challenge-submit btn btn-outline-secondary w-100 h-100"
  type="submit"
>
  Submit
</button>

{% endblock %}
